{{>nav-bar}}
<main id="garamondText" class="container">
  <section class="column">
    <h1 id="title" class="has-text-centered">Your Closet</h1>
  </section>
  <section class="columns">
    <div class="column">
      {{!-- garment goes here --}}





      <div class="tabs is-small is-centered">
        <ul>
          <a class="garment-view has-text-black-ter">All</a>

          <a class="garment-view " data-name="Hats">
            <span class="icon is-small">
              <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
            </span>
            <span>Hats</span>
          </a>
          <a class="garment-view has-text-black-ter" data-name="Shirt">
            <span class="icon is-small">
              <i class="fas fa-tshirt"></i>
            </span>
            <span>Shirt</span>
          </a>
          <a class="garment-view has-text-black-ter" data-name="Pants">
            <i class="fas fa-drumstick-bite" aria-hidden="true"></i>
            <span>Pants</span>
          </a>
          <a class="garment-view has-text-black-ter" data-name="Shoes">
            <span class="icon is-small">
              <i class="fas fa-shoe-prints" aria-hidden="true"></i>
            </span>
            <span>Shoes</span>
          </a>
          <a class="garment-view has-text-black-ter" data-name="Outerwear">
            <i class="fas fa-user-secret" aria-hidden="true"></i>
            <span>Outerwear</span>
          </a>
        </ul>
      </div>

      <div class="columns is-flex-wrap-wrap" id="view-container">
        {{#if garments}}
        {{#each garments}}
        {{> closet-panel-block}}
        {{/each}}
        {{else}}
        <h1>No Garmnets available</h1>
        {{/if}}
      </div>


    </div>

    </div>
  </section>
</main>

<script src="/assets/js/closet-view.js"></script>

{{!-- <aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside> --}}