{{>nav-bar}}
<main class="container">
  <h1 id="title" class="has-text-centered">Your Outfits</h1>
  <div class="columns is-flex-wrap-wrap" id="view-container">


    {{#each outfits}}
    {{> outfit-panel-block}}
    {{/each}}




    {{!-- edit outfits --}}

    {{!-- <div class="column is-half  one-outfit-container" style="">
      <div class="tile is-parent">
        <div class="tile is-child has-background-white outfits-container p-4">
          <div class="tabs is-meduim is-centered">
            <ul>
              <li><strong class="outfit-name"></strong></li>
            </ul>
          </div>

          <div class="panel-block outfit" id="Hats-box"></div>
          <div class="panel-block outfit" id="Shirt-box"></div>
          <div class="panel-block outfit" id="Pants-box"></div>
          <div class="panel-block outfit" id="Shoes-box"></div>
          <div class="panel-block outfit" id="Outerwear-box"></div>


        </div>
      </div>
    </div> --}}
    {{!-- end of the edit outfits container(tile) --}}



  </div>

  </div>
  </div>
</main>

<script src="/assets/js/view-outfits.js" async defer></script>