html {
  height: 100vh;
}
body {
  background-image: url("../images/backgroundImg.jpg");
  min-height: 100vh;
  background-position: -150px -500px;
  background-repeat: no-repeat;
}

.main-container {
  height: 100vh;
}
.fire-word {
  /* font: italic bold 22px Georgia, serif; */
  color: red;
  text-shadow: 0px 0px 40px #ff5e14, 0px 0px 40px #ff5e14;
}

.outfits-container {
  box-shadow: none;
  border-radius: 0;
  font-family: "Cormorant Garamond", serif;
}
.outfits-container a,
.outfits-container span {
  font-size: 14px;
  font-weight: 300;
}

.outfit {
  font-size: 14px;
}

.one-outfit-container {
  box-shadow: none;
}
#click:hover {
  cursor: pointer;
}

#cinzel {
  font-family: "Cinzel", serif;
  font-size: 72px;
}

#garamond {
  font-family: "Cinzel", serif;
  font-size: 44px;
}
#garamondText {
  font-family: "Cormorant Garamond", serif;
}
.garamondText {
  font-family: "Cormorant Garamond", serif;
}
#garamondHead {
  font-family: "Cormorant Garamond", serif;
  font-size: 44px;
}
#title {
  font-family: "Cinzel", serif;
  font-size: 50px;
}
#nav-bar {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
#view-container {
  height: 80vh;
  background-color: white;
  overflow-y: scroll;
  margin-bottom: 5px;
}
#outfit-container {
  height: 70vh;
  width: 60%;
  background-color: white;
  overflow-y: scroll;
}
#view-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#view-container::-webkit-scrollbar-track {
  background: #dfdfdf;
}

/* Handle */
#view-container::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
}
